@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/* Universal y etiquetas globales*/

*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family: var(--Nunito); 
}

:root{
    --Nunito:'Nunito', sans-serif;
}


/* Nav */

nav{
    font-family: var(--Nunito);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 0rem 6rem;
    max-width: 120rem;
}

/* Logo */

.logo-encabezado{
    display: flex;
    align-items: center;
}

.logo{
    height: 3em;
}

.logo-nombre{
    font-size: 1rem;
    padding-left: 0.6em;
    color: #323232; 
}

/* Links */

.links{
    display: flex;
}

.links a{
    text-decoration: none;
    color: #6E6E6E;;
    font-size: 1.18em;
}

.link-solo , .link-flecha{
    margin: 0em 1.1em; 
    transition: .5s;
}

.link-flecha{
    padding-right: 1.1em;
    color: #707070;
    cursor: pointer;
}

.links a:hover , .links div:hover{
    transform: scale(1.1);
    text-shadow: 0.2rem 0.2rem 0.3rem #3952B6;
}

/* Boton*/

.boton-quote{
    font-size: 1.1em;
    font-family: var(--Nunito);
    padding: 0.6rem 2.1rem 0.6rem 2.1rem;
    border-radius: 2em;
    border-style: none;
    background-color: #3952B6;
    color: white;
    cursor: pointer;
    width: 11rem;
}

.boton-quote{
    transition: background 0.8s, border .3s, transform .5s;
}

.boton-quote:hover{
    background-color: white;
    border: 0.15rem solid #3952B6;
    color:#3952B6;
    transform: scale(1.1);
    box-shadow: 0.2rem 0.2rem 0.3rem rgb(156, 154, 154);
}


/* Main */

/* Contenedor de la primer pagina */

.pagina-uno{
    margin: 0rem 6rem 0rem 6rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 108em;
    padding-bottom: 8rem;
}

/* Contenedor del sector izquierdo */

.div-izquierdo{
    width: 100%;
    max-width: 60em;
}

/* Encabezado*/

.encabezado{
    font-size: 5.5em;
    width: 90%;
    padding: 6rem 0rem 1.5rem 0rem;  
    color: #323232; 
}

/* Parrafo */

.parrafo{
    padding-bottom: 3.5rem;
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;;
}

/* Contenedor del boton e input */

.input-button{
    padding-bottom: 3.5rem;
    width: 100%;
    position: relative;
}

.input-busqueda{
    width: 100%;
    padding: 2.3rem 4.6rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.18em;
    background: url(Imagenes/search.svg), #fafafa;
    background-repeat: no-repeat;
    background-position: 4%;
    background-size: 1em;
    outline: none;
    color: #9c9999;
}

.button-search{
    background-color: #3952B6;
    color: white;
    position: absolute;
    border-radius: 2.5rem;
    border: none;
    padding: 1.2rem 3.9rem ;
    font-size: 1.4em;
    top: 0.6em;
    right: 0.6em;
    cursor: pointer;
}

.button-search{
    transition: background 0.2s, border .2s;
}


.input-busqueda:focus{
    outline: 0.2em solid #6E6E6E;
    background-image: none;
    background-color:  #fafafa;   
}

.input-busqueda:focus::placeholder {
    color: transparent;
}

.button-search:hover{
    background-color: white;
    border: 0.10rem solid #3952B6;
    color:#3952B6;
    font-weight: bold;
}
/* Contenedor de estadisticas, estadisticas y letras*/

.contenedor-estadisticas{
    display: flex;
    gap: 4rem;
}
 
.contenedor-estadisticas h3{
    font-size: 2.5em;
    font-weight: 700;
    color: #323232; 
}

.contenedor-estadisticas p{
    font-size: 1.5em;
    color:#6E6E6E;
}

/* Contenedor del sector derecho */

.imagen-casa{
    border-radius: 1.3rem;
    background: url(Imagenes/Casa.jpg);
    background-size: 118%;
    background-position: center;
    background-repeat: no-repeat, cover;
    width: 38%;
    min-height: 47.5rem;
    margin-top: 6rem;
}

/* Fin de la primer pagina*/


/* Segunda pagina*/

.pagina-dos{
    margin:0rem 6rem 0rem 6rem;
    width: 100%;
    max-width: 108em;
    padding-top: 8rem;
    padding-bottom: 7.25rem;
}

/* Parrafo y encabezado */

.parrafo-encabezado-pagdos{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding-bottom: 7rem;
}

.parrafo-encabezado-pagdos h3{
    font-size: 3.65em;
    width: 30%;
    color: #323232;
}

.parrafo-encabezado-pagdos p{
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;
    width: 50%;
    padding-right: 2em;
}

/* Contenedor de fotos y parrafos */

.contenedor-fotos-parrafos-pagdos{
    display: flex;  
    padding-bottom: 5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.precio{
    background-color: #222430;
    color: white;
    position: absolute;
     border-radius: 2.5rem;
    border: none;
    padding: 0.9rem 2.5rem ;
    font-size: 1.4em;
    cursor: pointer;
    top:1.58rem;
    left: 1.58rem;
}

.fotos-parrafos-pagdos{
    position: relative;
}

.fotos-parrafos-pagdos h3{
    font-size: 2.9em;
    line-height: 1.5em;
    padding-bottom: 0.45em;
    padding-top: 1.6rem;
    color: #323232;
}

.fotos-parrafos-pagdos p{
    font-size: 1.45em;
    padding-left: 0.8rem;
    color: #6E6E6E;
}

.fotos-parrafos-pagdos div{
    display: flex;
}

.location-img{
    max-height: 2em;
}

.fotos-parrafos-pagdos{
    max-width: 24%;  
    cursor: pointer;
}

.Ataz-foto{
    background: url(Imagenes/Ataz.jpg);
    background-size: 133%;
    background-repeat: no-repeat,cover;
    background-position: center;
    width: 100%;
    min-height: 21.90em;
    border-radius: 1.4em;    
}

.Qiri-foto{
    background: url(Imagenes/Qiri.jpg);
    background-size: 133%;
    background-repeat: no-repeat,cover;
    background-position: center;
    width: 100%;
    min-height: 21.90em;
    border-radius: 1.4em;
}

.Qanan-foto{
    background: url(Imagenes/Qanan.jpg);
    background-size: 133%;
    background-repeat: no-repeat, cover;
    background-position: center;
    width: 100%;
    min-height: 21.90em;
    border-radius: 1.4em;
}

.Tingah-foto{
    background: url(Imagenes/Tingah.jpg);
    background-size: 133%;
    background-repeat: no-repeat,cover;
    background-position: center;
    width: 100%;
    min-height: 21.90em;
    border-radius: 1.4em;
}

/* Contenedor de parrafo y boton */

.parrafo-boton-pagdos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotos-parrafos-pagdos:hover{
    transform: scale3d(1.03, 1.03, 1.03);
    transition: .5s;
}

.parrafo-boton-pagdos p{
    font-size: 1.5em;
    color: #6E6E6E;
}

.parrafo-boton-pagdos button{
    background-color: white;
    border: 0.1em solid #6E6E6E;
    color: black;
    border-radius: 2.5rem;
    padding: 1.1rem 3.8rem ;
    font-size: 1.4em;
    cursor: pointer;
}

.parrafo-boton-pagdos button{
    transition: background 0.3s, transform 0.3s;
}

.parrafo-boton-pagdos button:hover{
    background-color: #6E6E6E;
    color:white;
    transform: translate(0rem , -0.2rem);
    box-shadow: 0.2rem 0.2rem 0.3rem rgb(156, 154, 154);
}

/* Fin de la segunda pagina */