@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/* Universal y etiquetas globales*/

*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family: var(--Nunito); 
}

:root{
    --Nunito:'Nunito', sans-serif;
}


/* Nav */

nav{
    font-family: var(--Nunito);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 0rem 6rem;
    max-width: 120rem;
}

/* Logo */

.logo-encabezado{
    display: flex;
    align-items: center;
}

.logo{
    height: 3em;
}

.logo-nombre{
    font-size: 1rem;
    padding-left: 0.6em;
    color: #323232; 
}

/* Links */

.links{
    display: flex;
}

.links a{
    text-decoration: none;
    color: #6E6E6E;;
    font-size: 1.18em;
}

.link-solo , .link-flecha{
    margin: 0em 1.1em; 
    transition: .5s;
}

.link-flecha{
    padding-right: 1.1em;
    color: #707070;
    cursor: pointer;
}

.links a:hover , .links div:hover{
    transform: scale(1.1);
    text-shadow: 0.2rem 0.2rem 0.3rem #3952B6;
}

/* Boton*/

.boton-quote{
    font-size: 1.1em;
    font-family: var(--Nunito);
    padding: 0.6rem 2.1rem 0.6rem 2.1rem;
    border-radius: 2em;
    border-style: none;
    background-color: #3952B6;
    color: white;
    cursor: pointer;
    width: 11rem;
}

.boton-quote{
    transition: background 0.8s, border .3s, transform .5s;
}

.boton-quote:hover{
    background-color: white;
    border: 0.15rem solid #3952B6;
    color:#3952B6;
    transform: scale(1.1);
    box-shadow: 0.2rem 0.2rem 0.3rem rgb(156, 154, 154);
}


/* Main */

/* Contenedor de la primer pagina */

.pagina-uno{
    margin: 0rem 6rem 0rem 6rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 108em;
    padding-bottom: 8rem;
}

/* Contenedor del sector izquierdo */

.div-izquierdo{
    width: 100%;
    max-width: 60em;
}

/* Encabezado*/

.encabezado{
    font-size: 5.5em;
    width: 90%;
    padding: 6rem 0rem 1.5rem 0rem;  
    color: #323232; 
}

/* Parrafo */

.parrafo{
    padding-bottom: 3.5rem;
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;;
}

/* Contenedor del boton e input */

.input-button{
    padding-bottom: 3.5rem;
    width: 100%;
    position: relative;
}

.input-busqueda{
    width: 100%;
    padding: 2.3rem 4.6rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.18em;
    background: url(Imagenes/search.svg), #fafafa;
    background-repeat: no-repeat;
    background-position: 4%;
    background-size: 1em;
    outline: none;
    color: #9c9999;
}

.button-search{
    background-color: #3952B6;
    color: white;
    position: absolute;
    border-radius: 2.5rem;
    border: none;
    padding: 1.2rem 3.9rem ;
    font-size: 1.4em;
    top: 0.6em;
    right: 0.6em;
    cursor: pointer;
}

.button-search{
    transition: background 0.2s, border .2s;
}


.input-busqueda:focus{
    outline: 0.2em solid #6E6E6E;
    background-image: none;
    background-color:  #fafafa;   
}

.input-busqueda:focus::placeholder {
    color: transparent;
}

.button-search:hover{
    background-color: white;
    border: 0.10rem solid #3952B6;
    color:#3952B6;
    font-weight: bold;
}
/* Contenedor de estadisticas, estadisticas y letras*/

.contenedor-estadisticas{
    display: flex;
    gap: 4rem;
}
 
.contenedor-estadisticas h3{
    font-size: 2.5em;
    font-weight: 700;
    color: #323232; 
}

.contenedor-estadisticas p{
    font-size: 1.5em;
    color:#6E6E6E;
}

/* Contenedor del sector derecho */

.imagen-casa{
    border-radius: 1.3rem;
    background: url(Imagenes/Casa.jpg);
    background-size: 118%;
    background-position: center;
    background-repeat: no-repeat, cover;
    width: 38%;
    min-height: 47.5rem;
    margin-top: 6rem;
}

/* Fin de la primer pagina*/


/* Segunda pagina*/

.pagina-dos{
    margin:0rem 6rem 0rem 6rem;
    width: 100%;
    max-width: 108em;
    padding-top: 8rem;
    padding-bottom: 7.25rem;
}

/* Parrafo y encabezado */

.parrafo-encabezado-pagdos{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding-bottom: 7rem;
}

.parrafo-encabezado-pagdos h3{
    font-size: 3.65em;
    width: 30%;
    color: #323232;
}

.parrafo-encabezado-pagdos p{
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;
    width: 50%;
    padding-right: 2em;
}

/* Contenedor de fotos y parrafos */

.contenedor-fotos-parrafos-pagdos{
    display: flex;  
    padding-bottom: 5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.precio{
    background-color: #222430;
    color: white;
    position: absolute;
     border-radius: 2.5rem;
    border: none;
    padding: 0.9rem 2.5rem ;
    font-size: 1.4em;
    cursor: pointer;
    top:1.58rem;
    left: 1.58rem;
}

.fotos-parrafos-pagdos{
    position: relative;
}

.fotos-parrafos-pagdos h3{
    font-size: 2.9em;
    line-height: 1.5em;
    padding-bottom: 0.45em;
    padding-top: 1.6rem;
    color: #323232;
}

.fotos-parrafos-pagdos p{
    font-size: 1.45em;
    padding-left: 0.8rem;
    color: #6E6E6E;
}

.fotos-parrafos-pagdos div{
    display: flex;
}

.location-img{
    max-height: 2em;
}

.fotos-parrafos-pagdos{
    max-width: 24%;  
    cursor: pointer;
}

.Ataz-foto{
    background: url(Imagenes/Ataz.jpg);
    background-size: 133%;
    background-repeat: no-repeat,cover;
    background-position: center;
    width: 100%;
    min-height: 21.90em;
    border-radius: 1.4em;    
}

.Qiri-foto{
    background: url(Imagenes/Qiri.jpg);
    background-size: 133%;
    background-repeat: no-repeat,cover;
    background-position: center;
    width: 100%;
    min-height: 21.90em;
    border-radius: 1.4em;
}

.Qanan-foto{
    background: url(Imagenes/Qanan.jpg);
    background-size: 133%;
    background-repeat: no-repeat, cover;
    background-position: center;
    width: 100%;
    min-height: 21.90em;
    border-radius: 1.4em;
}

.Tingah-foto{
    background: url(Imagenes/Tingah.jpg);
    background-size: 133%;
    background-repeat: no-repeat,cover;
    background-position: center;
    width: 100%;
    min-height: 21.90em;
    border-radius: 1.4em;
}

/* Contenedor de parrafo y boton */

.parrafo-boton-pagdos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotos-parrafos-pagdos:hover{
    transform: scale3d(1.03, 1.03, 1.03);
    transition: .5s;
}

.parrafo-boton-pagdos p{
    font-size: 1.5em;
    color: #6E6E6E;
}

.parrafo-boton-pagdos button{
    background-color: white;
    border: 0.1em solid #6E6E6E;
    color: black;
    border-radius: 2.5rem;
    padding: 1.1rem 3.8rem ;
    font-size: 1.4em;
    cursor: pointer;
}

.parrafo-boton-pagdos button{
    transition: background 0.3s, transform 0.3s;
}

.parrafo-boton-pagdos button:hover{
    background-color: #6E6E6E;
    color:white;
    transform: translate(0rem , -0.2rem);
    box-shadow: 0.2rem 0.2rem 0.3rem rgb(156, 154, 154);
}

/* Fin de la segunda pagina */

/* Tercera pagina */

.pagina-tres{
    background-color: #FAFAFA;
    width: 100%;
    max-width: 120rem;
    gap:7.5rem;
    display: flex;
    justify-content: center;
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
}

.pagina-tres h3{
    font-size: 3.72em;
    padding-bottom: 2rem;
    color: #323232;
}

.pagina-tres p{
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;
}

.pagina-tres div{
    max-width: 38.7%;
}

/* Contenedor del sector izquierdo */

.foto-izq{
    width: 100%;
    min-height: 29.3rem;
    background: url(Imagenes/Our-Vision.jpg);
    background-size: 100%;
    background-repeat: no-repeat,cover;
    border-radius: 1.5rem;
    margin-top: 2.3rem;
    
}

/* Contenedor del sector derecho */

.foto-der{
    width: 100%;
    min-height: 29.3rem;
    background: url(Imagenes/Our-Mission.jpg);
    background-size: 100%;
    background-repeat: no-repeat,cover;
    border-radius: 1.5rem;
    margin-bottom: 2.3rem;
}

/* Fin de la tercera pagina */

/* Cuarta pagina */

.pagina-cuatro{
    margin:0rem 6rem 0rem 6rem;
    width: 100%;
    max-width: 108em;
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
}

/* Contenedor del encabezado  y parrafo */

.parrafo-encabezado-pagcuatro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5.7rem;
}

.parrafo-encabezado-pagcuatro h3{
    font-size: 3.72em;
    padding-bottom: 2rem;
    color: #323232;
    width: 100%;
    max-width: 46%;
}

.parrafo-encabezado-pagcuatro p{
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;
    width: 100%;
    max-width: 47%;
    padding-bottom: 1rem;
}

/* Contenedor de pasos */

.contenedor-pasos-pagcuatro{
    display: flex;  
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding-bottom: 7.25rem;
}

.contenedores-pasos{
    max-width: 22.95%;
}

.contenedores-pasos div{
    background-color: #323232;
    color:white;
    border-radius: 3rem;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    width: 5rem;
    line-height: 5rem;
}

.contenedor-pasos-pagcuatro h3{
    font-size: 2.9em;
    line-height: 1.5em;
    padding-bottom: 0.35em;
    padding-top: 1.6rem;
    color: #323232;
}

.contenedor-pasos-pagcuatro p{
    font-size: 1.45em;
    color: #6E6E6E;
    line-height: 2.8rem;
}

.contenedor-parrafo-boton-pagcuatro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.3rem;
}

.contenedor-parrafo-boton-pagcuatro p{
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;
}

.contenedor-parrafo-boton-pagcuatro button{
    background-color: white;
    border: 0.1em solid #6E6E6E;
    color: black;
    border-radius: 2.5rem;
    padding: 1.1rem 3.8rem ;
    font-size: 1.4em;
    cursor: pointer;
}

.contenedor-parrafo-boton-pagcuatro button{
    transition: background 0.3s, transform 0.3s;
}

.contenedor-parrafo-boton-pagcuatro button:hover{
    background-color: #6E6E6E;
    color:white;
    transform: translate(0rem , -0.2rem);
    box-shadow: 0.2rem 0.2rem 0.3rem rgb(156, 154, 154);
}

/* Fin de la pagina cuatro*/

/* Quinta pagina */

.pagina-cinco{
    margin:0rem 6rem 0rem 6rem;
    width: 100%;
    max-width: 108em;
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
}

/* Contenedor del sector izquierdo */

.pagina-cinco{
    display: flex;
}

.contenedor-interior{
    max-width: 93%;
    border-radius: 1.5rem;
    padding-top: 0.2rem;
}

.contenedor-izquierdo-pagcinco{
    
    max-width: 51.2%;
    padding-bottom: 1.45rem;
    
}

.encabezado-pagcinco{
    font-size: 3.72em;
    padding-bottom: 2rem;
    color: #323232;
}

.pagina-cinco p{
    font-size: 1.45em;
    color: #6E6E6E;
    line-height: 2.8rem;
}

.encabezado-tilde{
    font-size: 2.9em;
    line-height: 1.5em;
    color: #323232;  
    padding-bottom: 0.35em; 
}

.contenedor-tilde-encabezado{
    display: flex; 
    align-items: start;
}

.contenedor-tilde-encabezado img{
    min-height: 4em; 
    padding-right: 1.4rem;
    padding-left: 1.2rem;
    color:#323232;
}

.tilde-encabezado-parrafo-pagcinco p{
    padding-left: 6.72rem;
}

.tilde-encabezado-unico{
    padding-bottom: 1.5rem;
    padding-top: 5.2rem;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 2rem 9rem 10rem #EFEFEF;
}

.tilde-encabezado-modif p{  
    width: 96.4%;
}
.tilde-encabezado-modif{  
    padding-top: 2rem;
}

.tilde-encabezado-segunda-modif{
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

/* Contenedor del sector derecho*/

.foto-pagcinco{
    background-image: url(Imagenes/Casa-pagina-5.jpg);
    width: 49%;
    background-size: 100%;
    background-repeat: no-repeat, cover;
    background-position: center;
    border-radius: 1.5rem;
}

/* Fin de la paginca cinco */

/* Pagina Seis */

.pagina-seis{   
    margin:0rem 6rem 0rem 6rem;
    width: 100%;
    max-width: 108em;
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
}

/* Contenedor parrafo y encabezado*/

.parrafo-encabezado-pagseis{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;
    padding-bottom: 7rem;
}

.parrafo-encabezado-pagseis h3{ 
    font-size: 3.65em;
    max-width: 45%;
    color: #323232;
}

.parrafo-encabezado-pagseis p{  
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;
    max-width: 45%;
    margin-right: 1.3rem;
}

/* Contenedor de opiniones*/

.contenedor-opiniones-pagseis{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;
}

.contenedor-opiniones{
    border-radius: 1.8rem;
    width: 23.5%;
    padding: 2rem 0rem 2rem 1.5rem;
    cursor: pointer;
}

.opiniones-parrafos{
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;
    padding-bottom: 2rem;
    max-width: 92%;
}

.contenedor-opiniones-img-name{
    display: flex;
    align-items: center;
}

.contenedor-opiniones-img-name h4{
    font-size: 1.5em;
    color: #323232;
    padding-bottom: 0.8rem;
}

.contenedor-opiniones-img-name p{
    font-size: 1.15em;
    color: #6E6E6E;
}

.contenedor-opiniones-img-name img{
    height: 3rem;
}

.contenedor-opiniones-img-name div{
    padding-left: 1.2rem;   
}

.unico-parrafo-seis{
    box-shadow: 1rem 2rem 5rem #EFEFEF;
}

.contenedor-opiniones:hover{
    box-shadow: 1rem 2rem 5rem #EFEFEF;
    transform: scale(1.05);
    transition: .5s;
}

/* Fin de la pagina seis */

/* Pagina Siete */

.pagina-siete{   
    margin:0rem 6rem 0rem 6rem;
    width: 100%;
    max-width: 108em;
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
    display: flex;
    justify-content: space-between;
}

/* Contenedor izquierdo */

.contenedor-izquierdo-pagsiete{
    width: 40%;
    background-image: url(Imagenes/foto-principal-pagsiete.jpg);
    background-size: 100%;
    background-repeat: no-repeat, cover;
    border-radius: 1.6rem;
}

/* Contenedor derecho*/

.contenedor-derecho-pagsiete{
    max-width: 52.5%;
}
.contenedor-derecho-pagsiete h3{
    font-size: 5.2em;  
    color: #323232;   
    max-width: 90%; 
    padding-bottom: 1.35rem;
}

.contenedor-derecho-pagsiete p{
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;
    max-width: 95%;
    padding-bottom: 2.225rem;
}

.contenedor-derecho-pagsiete button{
    background-color: #3952B6;
    border: 0.15rem solid #3952B6;
    color: white;
    border-radius: 2.5rem;
    padding: 1.1rem 3.8rem ;
    font-size: 1.4em;
    cursor: pointer;
    margin-bottom: 2.3rem;
}

.contenedor-derecho-pagsiete button{
    transition: background 0.4s, border 0.3s , transform 0.3s;
}

.contenedor-derecho-pagsiete button:hover{
    background-color: white;
    color:#3952B6;
    font-weight: bold;
    border: 0.15rem solid #3952B6;
    transform: scale(1.05) ;
    box-shadow: 0.2rem 0.2rem 0.3rem rgb(156, 154, 154);
}

.primera-foto-pagsiete{
    background-image: url(Imagenes/foto-1.jpg);
    width: 31.5%;
    min-height: 17rem;
    background-size: 100%;
    background-repeat: no-repeat, cover;
    background-position: center;
    border-radius: 1.5rem;
}

.segunda-foto-pagsiete{
    background-image: url(Imagenes/foto-2.jpg);
    width: 31.5%;
    min-height: 17rem;
    background-size: 100%;
    background-repeat: no-repeat, cover;
    background-position: center;
    border-radius: 1.5rem;
}

.tercera-foto-pagsiete{
    background-image: url(Imagenes/foto-3.jpg);
    width: 31.5%;
    min-height: 17rem;
    background-size: 100%;
    background-repeat: no-repeat, cover;
    background-position: center;
    border-radius: 1.5rem;
}

.contenedor-fotos-pagsiete{
    width: 100%;
    display:flex; 
    justify-content: space-between;
}

/* Fin de la pagina siete*/

/* Footer */

footer{
    background-color: #FAFAFA;
    width: 100%;
    max-width: 120rem;
}

.contenedor-footer{   
    margin:0rem 6rem 0rem 6rem;
    width: 100%;
    max-width: 108em;
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
    display: flex;
    justify-content: space-between;
    
}

/* 1er contenedor del footer */

.contenedor-footer-encabezado-parrafo{
    max-width: 23%;
}

.encabezado-footer{
    font-size: 1.5em;
    color: #323232
}

.contenedor-footer-encabezado-parrafo p{
    font-size: 1.5em;
    line-height: 2.8rem;
    color: #6E6E6E;   
}

.footer-logo-encabezado{
    display: flex;
    align-items: center;
    padding-bottom: 0.7rem;
}

.footer-logo-encabezado img{
    max-height: 3rem;
    padding-right: 0.2rem;
}

.footer-logo-encabezado{
    font-size: 1.1em;
    font-weight:900;
}

/* 2do contenedor del footer */

.contenedor-links{
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-left: 4.5rem;
}

.contenedor-links h4{
    padding-bottom: 1rem;
}

.contenedor-links a{
    color: #504e4e;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 1.3rem;
    text-decoration: none;
}

.contenedor-links a{
    transition: .1s;
}

.contenedor-links a:hover{
    color: #3952B6;
    transform: scale(1.01);
}

/* 3er contenedor del footer */

.contenedor-contacto{
    width: 21.5%;
}

.contenedor-contacto h4{
    padding-bottom: 2.1rem;
    color: #323232;
}


.location-imagen , .telefono-imagen , .envelope-imagen{
    display: flex;
}

.envelope-imagen, .telefono-imagen{
    align-items: center;
    padding-top: 1.6rem;
}

.contenedor-contacto p{
    width: 83%;
    color: #6E6E6E;
}

.contenedor-contacto .contacto-location{
    height: 2rem;
}

.location-imagen p , .telefono-imagen p , .envelope-imagen p{
    font-size: 1.4em;
}

.location-imagen img{
    padding-right: 0.8rem;
}

.telefono-imagen img{
    height: 2.15rem;  
    padding-right: 0.8rem; 
}

.envelope-imagen img{
    height: 2.9rem;
    padding-right: 0.4rem;
    margin-left: -0.3rem;
}

/* 4to contenedor del footer*/

.contenedor-email{
    display: flex;
    flex-direction: column;
}

.contenedor-email h4{
    color: #323232;
    padding-bottom: 2rem;
}

.contenedor-email{
    width: 20%;
}

.contenedor-email input{
    border-radius: 1.5rem;
    padding: 1rem 0rem 1rem 1.3rem;
    margin-bottom: 0.8rem;
    border: 0.15em solid #6E6E6E;
    background-color: #FAFAFA;
    color: #a19f9f;
    font-size: 1.1rem;
}

.contenedor-email button{
    border-radius: 2rem;
    padding: 1rem 0rem;
    border: none;
    font-size: 1.3rem;
    background-color: #3952B6;
    color: white;
    cursor: pointer;
}

.contenedor-email button{
    transition: border .2s, background .3s , transform .2s;
}

.contenedor-email input:focus{
    border: 0.15em solid #3952B6;
    background: none;
}

.contenedor-email input:focus::placeholder{
    color: transparent;
}

.contenedor-email button:hover{
        background-color: white;
        color:#3952B6;
        font-weight: bold;
        border: 0.15rem solid #3952B6;
        transform: scale(1.05) ;
        box-shadow: 0.2rem 0.2rem 0.3rem rgb(156, 154, 154);
}



/* Fin del footer*/

/* Fin de la pagina */